.hero--admin {
  background-color: $base-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  .admin {
    padding: 5rem 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    p {
      line-height: 1.25rem;
      margin: auto;
      font-family: $secondary-font;
      color: white;
      font-size: 1.25rem;
    }
    a {
      @include secondary-button;
    }
  }
}
