.hero--login {
  background-color: $base-color;
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  place-content: center;

  .login {
    background-color: #b983ff56;
    display: flex;
    border-radius: 0.3rem;
    padding: 1rem;
    flex-direction: column;
    box-shadow: 0px 0px 100px 15px $secondary-color;
    border: 1px solid rgba(255, 255, 255, 0.479);
    img {
      animation: login-pulse infinite alternate 1s;
      width: 40%;
      border-radius: 50%;
      margin: auto;
      padding: 1rem;
    }
    form {
      p {
        color: red;
        font-family: $secondary-font;
        .active {
            color: white;
        }        
      }
      gap: 2rem;
      display: flex;
      flex-direction: column;
      place-items: center;
      text-align: center;
      input {
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid white;
        padding: 0.5rem;
        font-family: $secondary-font;
        font-size: 1rem;
        color: white
      }
      input::placeholder {
        color: white
      }
      button {
        @include primary-button;

    }
      
      h2 {
        color: white;
        font-family: $primary-font;
        font-size: 2rem;
      }
    }
  }
}
