@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oxygen&display=swap");
@-webkit-keyframes login-pulse {
  0% {
    filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 0.3));
  }
  100% {
    filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.3));
  }
}
@keyframes login-pulse {
  0% {
    filter: drop-shadow(0 0 0.25rem rgba(255, 255, 255, 0.3));
  }
  100% {
    filter: drop-shadow(0 0 0.4rem rgba(255, 255, 255, 0.3));
  }
}
.header {
  padding: 2rem 0;
  display: flex;
  place-content: center;
  position: absolute;
  width: 100%;
  background-color: #B983FF;
}
.header a {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2rem;
}

.wrapper {
  position: relative;
}

.header--secondary {
  display: flex;
  position: absolute;
  justify-content: space-between;
}
.header--secondary img {
  width: 15%;
  padding: 1rem;
}
.header--secondary a,
.header--secondary i {
  color: white;
  padding: 0.5rem 0;
  font-size: 1.5rem;
}
.header--secondary i {
  color: #929292;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 1.2rem;
}
.header--secondary a {
  color: black;
  font-size: 1rem;
  font-family: "Oxygen", sans-serif;
}
.header--secondary #open-menu {
  color: white;
  font-size: 2rem;
  padding: 1rem;
}
.header--secondary #close-menu {
  color: #242424;
  font-size: 2rem;
}
.header--secondary a {
  font-family: "Montserrat", sans-serif;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.header__menu {
  transition: all 250ms;
  position: fixed;
  background-color: #fff8f8;
  width: 75%;
  height: 100vh;
  left: -500px;
}
.header__menu .menu__top {
  padding: 1rem;
  display: flex;
  place-items: center;
  background: url("../images/header-bg.svg") no-repeat center;
  background-size: cover;
  border-radius: 0.5rem;
}
.header__menu .menu__top img {
  width: 35%;
}
.header__menu .menu__top .top__text {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.header__menu h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
}
.header__menu p {
  font-family: "Oxygen", sans-serif;
  color: rgba(255, 255, 255, 0.6039215686);
}
.header__menu .menu__items {
  padding: 1rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.header__menu .menu__items li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #242424;
  place-content: center;
}

.active {
  transition: all 250ms;
  left: 0px;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3411764706);
}

.hero--login {
  background-color: #B983FF;
  height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  place-content: center;
}
.hero--login .login {
  background-color: rgba(185, 131, 255, 0.337254902);
  display: flex;
  border-radius: 0.3rem;
  padding: 1rem;
  flex-direction: column;
  box-shadow: 0px 0px 100px 15px #94B3FD;
  border: 1px solid rgba(255, 255, 255, 0.479);
}
.hero--login .login img {
  -webkit-animation: login-pulse infinite alternate 1s;
          animation: login-pulse infinite alternate 1s;
  width: 40%;
  border-radius: 50%;
  margin: auto;
  padding: 1rem;
}
.hero--login .login form {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  text-align: center;
}
.hero--login .login form p {
  color: red;
  font-family: "Oxygen", sans-serif;
}
.hero--login .login form p .active {
  color: white;
}
.hero--login .login form input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  padding: 0.5rem;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: white;
}
.hero--login .login form input::-moz-placeholder {
  color: white;
}
.hero--login .login form input:-ms-input-placeholder {
  color: white;
}
.hero--login .login form input::placeholder {
  color: white;
}
.hero--login .login form button {
  background-color: #a35dff;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  border: 1px solid #94DAFF;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  transition: background 250ms;
}
.hero--login .login form button:hover {
  background-color: #94B3FD;
}
.hero--login .login form h2 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  text-decoration: none;
  list-style: none;
}

.hero--admin {
  background-color: #B983FF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  background: url("../images/waves-bg.svg") no-repeat center;
  background-size: cover;
}
.hero--admin .admin {
  padding: 10rem 0.2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero--admin .admin h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.hero--admin .admin .admin__selections {
  display: grid;
  padding: 1rem 0.5rem;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  white-space: nowrap;
}
.hero--admin .admin .admin__selections .selection__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1rem;
  border-radius: 0.25rem;
  color: white;
  gap: 0.5rem;
  font-family: "Oxygen", sans-serif;
  background-color: rgba(156, 81, 255, 0.231372549);
  border: 1px solid rgba(255, 255, 255, 0.3647058824);
}

.hero--loanCreator {
  background-color: #B983FF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  background-color: #f0f0f0;
}

.admin__loan .loan__top {
  background: url("../images/waves-bg.svg") no-repeat center;
  background-size: cover;
  border-radius: 0.5rem;
  padding: 2rem;
}
.admin__loan .loan__top h2 {
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  width: 75%;
  margin: auto;
}
.admin__loan .loan__profile p {
  font-size: 0.9rem;
  font-family: "Oxygen", sans-serif;
  color: gray;
}
.admin__loan .loan__profile form {
  border-radius: 0.25rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}
.admin__loan .loan__profile form input {
  background-color: rgb(207, 207, 207);
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-family: "Oxygen", sans-serif;
  font-size: 1rem;
  color: white;
}
.admin__loan .loan__profile form button {
  margin: 1rem 0 0 0;
  background-color: #a35dff;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  border: 1px solid #94DAFF;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  transition: background 250ms;
}
.admin__loan .loan__profile form button:hover {
  background-color: #94B3FD;
}
.admin__loan .loan__card {
  background: url("../images/header-bg.svg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
  border: 1px solid black;
  text-align: left;
  gap: 2rem;
}
.admin__loan .loan__card .card__top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.admin__loan .loan__card h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
.admin__loan .loan__card p {
  font-size: 1rem;
  color: #94DAFF;
  font-family: "Oxygen", sans-serif;
}
.admin__loan .loan__card .card__pay {
  display: flex;
  place-content: center;
  gap: 4rem;
  text-align: center;
}
.admin__loan .loan__card .card__pay p {
  padding-bottom: 0;
}

.profile {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.5rem;
}
.profile img {
  width: 50%;
  padding: 1rem;
  margin: auto;
}
.profile p {
  color: red;
  text-align: center;
}
.profile .username__changer {
  font-size: 1rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}
.profile .username__changer input {
  margin: 0 0.5rem;
  border: 1px solid #94DAFF;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
}
.profile .username__changer input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5411764706);
  font-family: "Oxygen", sans-serif;
  font-style: italic;
}
.profile .username__changer input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5411764706);
  font-family: "Oxygen", sans-serif;
  font-style: italic;
}
.profile .username__changer input::placeholder {
  color: rgba(255, 255, 255, 0.5411764706);
  font-family: "Oxygen", sans-serif;
  font-style: italic;
}
.profile .username__changer button {
  background-color: #a35dff;
  padding: 1rem 2rem;
  border-radius: 0.7rem;
  border: 1px solid #94DAFF;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  transition: background 250ms;
  margin: auto;
}
.profile .username__changer button:hover {
  background-color: #94B3FD;
}
.profile .password__changer {
  font-size: 1rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}
.profile .password__changer input {
  margin: 0 0.5rem;
  border: 1px solid #94DAFF;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  background-color: transparent;
}
.profile .password__changer input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5411764706);
  font-family: "Oxygen", sans-serif;
  font-style: italic;
}
.profile .password__changer input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5411764706);
  font-family: "Oxygen", sans-serif;
  font-style: italic;
}
.profile .password__changer input::placeholder {
  color: rgba(255, 255, 255, 0.5411764706);
  font-family: "Oxygen", sans-serif;
  font-style: italic;
}
.profile .password__changer button {
  background-color: #ff5d5d;
  padding: 1rem 1rem;
  border-radius: 0.7rem;
  border: 1px solid red;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  transition: background 250ms;
  margin: auto;
}
.profile .password__changer button:hover {
  background-color: #94B3FD;
}/*# sourceMappingURL=main.css.map */